<div class="container">
    <div class="col-lg-4 col-lg-offset-4">
        <form method="post" ng-submit="task.createTask()">
            <div class="form-group">
                <input type="hidden" class="input-block-level" name="mark" ng-model="task.taskData.mark" ng-init="task.taskData.mark=task.IdToAddTask">
            </div>

            <div class="form-group">
                <label>Title</label>
                <input type="text" class="input-block-level" name="title" ng-model="task.taskData.title" placeholder="Title">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="input-block-level" name="description" ng-model="task.taskData.description" placeholder="Description">
            </div>

            <div class="form-group">
                <label>Assign to</label>
               <!-- <input type="text" class="input-block-level" name="task_to" ng-model="task.taskData.task_to" placeholder="Assign to"> -->
                <select ng-controller="UserController as user" name="task_to" ng-model="task.taskData.task_to" ng-options="opt as opt.username for opt in user.users" "></select>
            </div>

            <div class="form-group">
                <label>Priority</label>
                <select name="priority" ng-model="task.taskData.priority" ng-options="opt as opt for opt in priority" ng-init="selected='Major'"></select>
            </div>

            <button type="submit" class="btn btn-success">Create new task</button>
        </form>
    </div>
</div>