<article class="container" style="margin-top:-18px;">
    <br>

    <section class="well well-small mePadd">
        <h2 class="meFont" style="padding-bottom:30px;"><span class="glyphicon glyphicon-comment"></span> Add new user in project team</h2>

        <div ng-if="project.users.length > 0">
        <input type="text" ng-model="searchUser.username">

            <div class="panel panel-default">
                <div class="panel-heading" style="overflow: hidden; ">
                    <h3 class="col-xs-2">Username</h3>
                    <h3 class="col-xs-2 col-xs-offset-8">Action</h3>
                </div>
                <div ng-if="project.potentialUsers.length > 0" class="panel-body" ng-repeat="user in project.potentialUsers">
                    <p class="col-xs-2">{{ user.username }}</p>

                    <span class="col-xs-2 col-xs-offset-8">
                        <a class="btn btn-success" href="#" ng-click="project.addUser(user._id, project.projectId)">Add</a>
                    </span>
                    <br><br>
                    <hr>

                </div>

                <div ng-if="project.potentialUsers.length == 0" class="panel-body">
                    <p class="col-xs-12">There is no user that can be added to this project</p>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading" style="overflow: hidden; ">
                    <h3 class="col-xs-2">Username</h3>
                    <h3 class="col-xs-2 col-xs-offset-8">Action</h3>
                </div>
                <div class="panel-body" ng-repeat="user in project.usersOnProject">
                    <p class="col-xs-2">{{ user.username }}</p>

                    <span class="col-xs-2 col-xs-offset-8">
                        <a class="btn btn-danger" href="#" ng-click="project.removeUser(user._id, project.projectId)">Remove</a>
                    </span>
                    <br><br>
                    <hr>

                </div>
            </div>

        </div>
    </section>
</article>