<article class="container" style="margin-top:-18px;"  ng-controller="TaskController as task">
    <br>

    <section class="well well-small mePadd">
        <h2 class="meFont" style="padding-bottom:30px;"><span class="glyphicon glyphicon-comment" ></span> Tasks for {{ task.currentProject.mark }}</h2>



        <div ng-init="task.getTasksFromProject(task.IdToAddTask)">
            <div class="panel panel-default">
                <div class="panel-heading" style="overflow: hidden; ">
                    <h3 class="col-xs-1">Mark</h3>
                    <h3 class="col-xs-2">Title</h3>
                    <h3 class="col-xs-2">Author</h3>
                    <h3 class="col-xs-2">For</h3>
                    <h3 class="col-xs-2">Status</h3>
                </div>

                <div class="panel-body" ng-if="task.projectTasks.length == 0">
                    <p class="col-xs-12">There is no tasks for this project jet</p>
                </div>

                <div class="panel-body" ng-if="task.projectTasks.length > 0" ng-repeat="t in task.projectTasks" ng-init="task.getTaskAuthor(t.author); task.getProjectById(t.mark); task.getTaskTo(t.task_to)">
                    <p class="col-xs-1">{{ task.currentProject.mark }}</p>
                    <h4 class="col-xs-2">{{ t.title }}</h4>
                    <p class="col-xs-2">{{ task.taskAuthor.username }}</p>
                    <p class="col-xs-2">{{ task.taskTo[$index].username }}</p>
                    <span class="col-xs-2"><div class="badge badge-success" style="width:50px;">{{ t.status }}</div></span>

                    <span class="col-xs-1">
                        <a class="btn btn-info" href="#" data-toggle="modal" data-target="#myModal">Edit</a>
                    </span>

                    <span class="col-xs-1" ng-show="isAdmin">
                        <button class="btn btn-danger" ng-click="task.removeTask(t._id)">Remove</button>
                    </span><br>
                    <hr>

                </div>
            </div>
        </div>
    </section>

</article>

